body,
#root {
	height: 100vh;
	margin: 0;
}

main {
	display: flex;
	/* justify-content:; */
	/* align-items: center; */
	height: 100%;
	position: relative;
}

.main-time {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.timers-counter {
	margin-right: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
}

.controls {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* height: 100%; */
}

.time-list-section {
	width: 28%;
	position: relative;
}

.time-list-section ul {
	list-style: none;
	border-right: 1px solid black;
	height: 100%;
	overflow-y: auto;
}

.time-list-section ul li {
	height: 55px;
	padding: 12px 8px 0 16px;
	cursor: pointer;
	width: 100%;
	display: flex;
}

.time-list-section ul li:hover {
	background-color: #181818;
}

.time-list-section .add {
	background-color: rgb(42, 161, 50);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	position: absolute;
	right: 14px;
	bottom: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	/* font-size: em; */
	color: white;
}

p,
h1 {
	margin: 0;
}

.main-time h1 {
	font-size: 5em;
	line-height: 1;
}

.main-time p {
	font-size: 2em;
}

div.controls span {
	cursor: pointer;
}

.modal-container {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
}

.modal {
	background-color: white;
	color: black;
	height: var(--modal-height);
	width: var(--modal-width);
	display: flex;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
	position: absolute;
	top: calc((100% - var(--modal-height)) / 2);
	left: calc((100% - var(--modal-width)) / 2);
	padding: 40px;
	display: flex;
	flex-direction: column;
	border-radius: 2px;
}

.modal h2 {
	margin-bottom: 20px;
}

.close-modal-button {
	position: absolute;
	cursor: pointer;
	right: 20px;
	top: 20px;
}

.modal div input {
	font-size: 5em;
	width: 88px;
	border: none;
	padding: 0;
	margin-bottom: 0;
	text-align: right;
}

.modal input {
	background-color: transparent;
	color: black;
	border: none;
	border-bottom: 1px solid #222;

	height: fit-content;
	padding-left: 8px;
	padding-bottom: 6px;
	width: 100%;
	margin-bottom: 18px;
	font-size: 1em;
}

.modal input:focus {
	outline: none;
}

.modal div {
	display: flex;
	justify-content: center;
	text-align: center;
}

.modal p {
	font-size: 88px;
	line-height: 88px;
}

.modal button {
	width: 100px;
	height: 50px;
	background-color: rgb(32, 156, 59);
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 2em;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	bottom: 40px;
	right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-icon {
	width: 32px;
}

.modal button:disabled {
	background-color: #bbb;
	cursor: not-allowed;
}

.delete-icon {
	margin-left: auto;
	display: none;
}
li:hover .delete-icon {
	display: block;
}
